<ul class="sidebar-menu" data-widget="tree">
<li class="header">HEADER</li>
<!-- Optionally, you can add icons to the links -->
<li class="active"><a href="/Home/Index"><i class="fa fa-dashboard"></i> <span>داشبورد</span></a></li>
<li><a href="/Doctors/Index"><i class="fa fa-list"></i> <span>لیست دکترها</span></a></li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>فعالیت ها</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="/Doctors/Create"><i class="fa fa-create"></i> <span>افزودن دکتر</span></a></li>
    </ul>
</li>
</ul>